@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.button {
  background: rgba(192, 192, 192, 0.287);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  /*丸の基点とするためrelativeを指定*/
  position: relative;
}
.button:hover {
  background: none;
  transition: 0.3s ease-out;
}
.button:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s ease-out;
  transform: translateX(-100%);
}
.button:hover:before {
  background: #2CC4CB;
  transform: translateX(0);
}
.button:hover span {
  color: #fff;
}
.button span {
  color: #000;
}
.button a {
  line-height: 1.5;
  display: block;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 99;
}
.header_inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header_left {
  width: 20%;
}
.header_logo {
  width: 40%;
}
.header_logo:hover {
  opacity: 0.5;
}
.header_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header_logo a img {
  width: 100%;
}
.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.header_nav {
  width: 100%;
}
.header_navBox {
  display: flex;
  justify-content: space-around;
}
.header_navItem {
  padding: 1%;
  width: 15%;
}
.header_navItem_hd {
  text-align: center;
  margin-top: 2%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.header_navItem_hd:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(#2CC4CB, #8FF9E4);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.header_navItem_hd:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header_navItem_hd a:hover {
  opacity: 0.5;
}

.footer {
  width: 100%;
  position: relative;
  z-index: 99;
}
.footer_inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 15vh;
}
.footer_left {
  width: 20%;
}
.footer_logo {
  width: 40%;
}
.footer_logo:hover {
  opacity: 0.5;
}
.footer_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.footer_logo a img {
  width: 100%;
}
.footer_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.footer_nav {
  width: 100%;
}
.footer_navBox {
  display: flex;
  justify-content: space-around;
}
.footer_navItem {
  padding: 1%;
  width: 15%;
}
.footer_navItem_hd {
  text-align: center;
  margin-top: 2%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.footer_navItem_hd:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(#2CC4CB, #8FF9E4);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.footer_navItem_hd:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer_navItem_hd a:hover {
  opacity: 0.5;
}
.footer_copy {
  position: relative;
  font-size: 15px;
  top: 25%;
  color: #000;
  margin-top: 15vh;
}
.footer_copyInner {
  position: relative;
  width: 100%;
  text-align: center;
  height: 5vh;
  background: #fff;
}

.a_service_top {
  position: relative;
  width: 100%;
  height: 100vh;
}
.a_service_top_iner {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 8%;
}
.a_service_top_box {
  width: 90%;
  height: 60%;
  background-color: #8FF9E4;
  clip-path: polygon(65% 0%, 0% 0%, 0% 100%, 100% 100%);
}
.a_service_top_box_title {
  display: inline-block;
  position: absolute;
  width: 30%;
  height: auto;
  top: 30%;
  left: 10%;
}
.a_service_top_box_title h1 {
  font-family: "Lobster Two", cursive;
  color: #fff;
  font-size: 8rem;
}
.a_service_top_box_title span {
  font-size: 2rem;
  font-weight: bolder;
}
.a_service_top_img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.a_service_hp {
  position: relative;
  width: 100%;
  height: auto;
}
.a_service_hp_iner {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.a_service_hp_txt {
  display: inline-block;
  margin-top: 10%;
  width: 100%;
  height: auto;
  text-align: center;
}
.a_service_hp_txt p {
  font-size: large;
  line-height: 135%;
}

.hp_price_list_box {
  display: inline-block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10%;
}
.hp_price_list_title {
  display: inline-block;
  width: 30%;
  height: auto;
  margin-left: 35%;
  text-align: center;
}
.hp_price_list_title h3 {
  font-size: 2rem;
}
.hp_price_list_title_ander_bar {
  display: inline-block;
  width: 26%;
  border-bottom: 2px solid #2CC4CB;
}
.hp_price_list {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 5%;
}
.hp_price_list_wrap {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}
.hp_price_list_contents {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 50vh;
  border-radius: 10px;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.hp_price_list_contents_name {
  display: inline-block;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
.hp_price_list_contents_name p {
  font-weight: bolder;
  font-size: 20px;
}
.hp_price_list_contents_money {
  display: inline-block;
  width: 100%;
  margin-top: 10%;
  text-align: center;
}
.hp_price_list_contents_money p {
  font-size: 10px;
}
.hp_price_list_contents_money strong {
  font-size: 20px;
}
.hp_price_list_contents_money span {
  font-size: 10px;
}
.hp_price_list_contents_money_btn {
  width: 43%;
  margin: auto;
  margin-top: 10%;
}
.hp_price_list_contents_point {
  display: inline-block;
  position: absolute;
  width: 60%;
  height: 23%;
  top: 0;
  right: 0;
  clip-path: polygon(112% 100%, 100% 0%, 0% 0%, 40% 0%);
  background: #2CC4CB;
  border-radius: 10px;
}
.hp_price_list_contents_point p {
  color: #fff;
  transform: rotate(45deg);
  margin-top: 14%;
  margin-left: 60%;
  font-size: 12px;
}

.contents_wrap {
  display: inline-block;
  width: 100%;
  height: 20px;
  margin-top: 10%;
  text-align: center;
}
.contents_wrap_box {
  display: flex;
  flex-direction: column;
}
.contents_wrap_box_list {
  display: inline-block;
}
.contents_wrap_box_list_img {
  background: url(../img/checkblack.png) no-repeat;
  width: 10%;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin-left: 15%;
}
.contents_wrap_box_list_aimg {
  background: url(../img/checkpink.png) no-repeat;
  width: 10%;
  height: 20px;
  background-size: cover;
  background-position: center;
  margin-left: 15%;
}
.contents_wrap_box_list p {
  font-size: 10px;
  position: absolute;
  margin-top: -1%;
  margin-left: 5%;
}
.contents_wrap li {
  margin-top: 5%;
}

.a_service_lp {
  position: relative;
  margin-top: 10%;
}
.a_service_lp_iner {
  width: 100%;
}

.price_list_contents {
  display: inline-block;
  width: 20%;
  height: 50vh;
  border-radius: 10px;
  margin-left: 5%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
  margin-top: 20%;
  margin-left: 20%;
}
.price_list_contents_name {
  margin-top: 10%;
}
.price_list_contents_name p {
  font-weight: bolder;
  font-size: 20px;
}
.price_list_contents_money {
  margin-top: 10%;
}
.price_list_contents_money p {
  font-size: 20px;
}
.price_list_contents_money span {
  font-size: 10px;
}

.price_list {
  display: inline-block;
  width: 50%;
  margin-top: 10%;
}

.a_contact_top {
  position: relative;
  width: 100%;
  height: 100vh;
}
.a_contact_top_iner {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 8%;
}
.a_contact_top_box {
  width: 90%;
  height: 60%;
  background-color: #8FF9E4;
  clip-path: polygon(65% 0%, 0% 0%, 0% 100%, 100% 100%);
}
.a_contact_top_box_title {
  display: inline-block;
  position: absolute;
  width: 30%;
  height: auto;
  top: 30%;
  left: 10%;
}
.a_contact_top_box_title h1 {
  font-family: "Lobster Two", cursive;
  color: #fff;
  font-size: 8rem;
}
.a_contact_top_box_title span {
  font-size: 2rem;
  font-weight: bolder;
}
.a_contact_top_img {
  position: absolute;
  top: 50%;
  left: 50%;
}

.twitter {
  width: 100%;
  margin-top: 10%;
}
.twitter_iner {
  margin: 0, auto;
}
.twitter_txt {
  text-align: inherit;
  margin-left: 30%;
}
.twitter_txt p {
  font-size: large;
  line-height: 135%;
}
.twitter_btn {
  width: 30%;
  height: 5vw;
  display: inline-block;
  margin-top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
.twitter_btn span {
  font-size: large;
  display: inline-block;
  height: 50px;
  padding-top: 5%;
}

.a_contact_form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10% auto;
  padding-left: 20%;
}
.a_contact_form_ttl {
  width: 25%;
  height: 100%;
  font-size: large;
  position: relative;
  margin-bottom: 2%;
}
.a_contact_form_ttl p {
  margin-bottom: 2%;
}
.a_contact_form_ttl :after {
  content: "※";
  color: brown;
}
.a_contact_form_txt {
  display: inline-block;
  width: 22%;
  position: absolute;
  left: 77%;
  top: 41.8%;
}
.a_contact_form_txt :before {
  content: "※";
  color: brown;
}
.a_contact_form_box2 {
  height: 7.5vh;
  width: 100%;
  padding-left: 5px;
  font-size: 1rem;
}
.a_contact_form_example {
  display: inline-block;
  margin-top: 2%;
}
.a_contact_box {
  margin-bottom: 7.5%;
}
.a_contact_box_selection {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.a_contact_txtarea {
  width: 100%;
  height: 30vh;
  font-size: 1rem;
  padding: 5px;
  margin-right: 13%;
}
.a_contact_area_ttl p {
  margin-bottom: 2%;
}

.privacy {
  margin-top: 10%;
}
.privacy_ttl {
  display: inline-block;
  margin-bottom: 3%;
}
.privacy_ttl p {
  font-size: large;
}
.privacy_txt {
  border: 1px solid #000;
  height: auto;
  padding: 5%;
}
.privacy_txt p {
  letter-spacing: 1px;
  line-height: 30px;
}
.privacy_chk {
  display: flex;
  margin-top: 5%;
}
.privacy_chk_list :after {
  content: "※";
  color: brown;
}
.privacy_chk p {
  font-size: large;
}
.privacy_chk_txt {
  margin-top: 3%;
}

.b_contact {
  display: inline-block;
  margin-top: 5%;
  width: 70%;
  line-height: 3;
  border: none;
}
.b_contact:hover {
  color: #fff;
}

/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-300%) skewX(-45deg);
  background-color: rgba(44, 196, 203, 0.1882352941);
  /*伸びる背景色の設定*/
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: translateX(-500%) skewX(45deg);
  }
  100% {
    transform-origin: left;
    transform: translateX(500%) skewX(45deg);
  }
}
/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}

a {
  color: #000;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  text-align: center;
  color: #000;
}

#loading_container {
  width: 200px;
  height: 100px;
  position: absolute;
  margin: auto;
  display: block;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
}

.L {
  position: absolute;
  opacity: 0;
  left: 5%;
  top: 50%;
  -webkit-animation: L 2s infinite;
  animation: L 2s infinite;
}

.O {
  position: absolute;
  opacity: 0;
  left: 18%;
  top: 50%;
  -webkit-animation: O 2s infinite;
  animation: O 2s infinite;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.A {
  position: absolute;
  opacity: 0;
  left: 35%;
  top: 50%;
  -webkit-animation: A 2s infinite;
  animation: A 2s infinite;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.D {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  -webkit-animation: D 2s infinite;
  animation: D 2s infinite;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.I {
  position: absolute;
  opacity: 0;
  left: 65%;
  top: 50%;
  -webkit-animation: I 2s infinite;
  animation: I 2s infinite;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.N {
  position: absolute;
  opacity: 0;
  left: 75%;
  top: 50%;
  -webkit-animation: N 2s infinite;
  animation: N 2s infinite;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.G {
  position: absolute;
  opacity: 0;
  left: 90%;
  top: 50%;
  -webkit-animation: G 2s infinite;
  animation: G 2s infinite;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

@keyframes L {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes O {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes A {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes D {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes I {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes N {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes G {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
/*========= 流れるテキスト ===============*/
/*全共通*/
.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;
}

/*左右のアニメーション*/
.leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.js-slideUp {
  opacity: 0;
}

.scrollin {
  animation: fadeUpAnime 0.5s forwards;
  animation-name: scrollin;
}

@keyframes scrollin {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* 左から出てくる */
.js-slideLeft {
  opacity: 0;
}

.fadeLeft {
  animation-name: fadeLeftAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* 右から出てくる */
.js-slideRight {
  opacity: 0;
}

.fadeRight {
  animation-name: fadeRightAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.top_inner {
  position: relative;
  height: 100vh;
}
.top_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 48%;
  width: 100%;
}
.top_name h1 {
  text-align: center;
  font-family: "Lobster Two", cursive;
  letter-spacing: 10px;
  font-size: 6rem;
  color: #2CC4CB;
}
.top_name h1 small {
  font-size: 0.2em;
}

.about_ttl {
  width: 100%;
  text-align: center;
  margin: 15vh auto;
}
.about_ttl h3 {
  font-size: 5rem;
  color: #8FF9E4;
  font-family: "Lobster Two";
}
.about_ttl h2 {
  font-size: 2rem;
  margin-top: 2%;
}
.about_inner {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.about_copy {
  margin-bottom: 10%;
}
.about_copy h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2%;
}
.about_copy p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2;
}
.about_contaner {
  margin-bottom: 5%;
}
.about_box {
  display: flex;
  justify-content: space-between;
}
.about_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/item1.png);
  background-size: cover;
  background-position: center;
  width: 30%;
  padding: 6% 0;
  position: relative;
}
.about_item::before {
  content: "01";
  position: absolute;
  top: -20%;
  left: 0;
  font-size: 3vw;
  font-weight: 800;
  text-decoration: wavy overline #2CC4CB;
  padding-top: 3%;
  color: #2CC4CB;
}
.about_item:nth-child(2) {
  background: url(../img/about1.png);
  background-size: cover;
  background-position: center;
}
.about_item:nth-child(2)::before {
  content: "02";
}
.about_item:nth-child(3) {
  background: url(../img/about2.png);
  background-size: cover;
  background-position: center;
}
.about_item:nth-child(3)::before {
  content: "03";
}
.about_itemInner {
  background-color: #000;
  width: 100%;
  padding: 10%;
  color: #fff;
  text-align: justify;
}
.about_itemInner p {
  font-size: 1.1vw;
  line-height: 2;
}

.para1 {
  background-image: url(../img/para1-2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.para1_inner {
  position: relative;
  margin-top: 15vh;
  height: 35vh;
}
.para1 p {
  color: #fff;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 3% 0 5%;
}
.para1_btnInner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  width: 95%;
  top: 70%;
}
.para1_btn a {
  color: #fff;
  font-size: 1.7rem;
  transition: 0.5s;
}
.para1_btn a:hover {
  color: #2CC4CB;
}
.para1_btn a:hover::before {
  border: 2px solid #2CC4CB;
}
.para1_btn a:hover::after {
  border: 1px solid #2CC4CB;
}
.para1_btn a::before {
  content: "";
  position: absolute;
  top: -30%;
  right: 39.5%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}
.para1_btn a::after {
  content: "";
  display: flex;
  width: 55px;
  height: 0%;
  bottom: 0;
  top: 12px;
  border: 1px solid #fff;
  z-index: 1;
  position: absolute;
  transform: translateX(8vw);
  transition: 0.5s;
}

.service_inner {
  width: 100%;
  position: relative;
}
.service_ttl {
  width: 100%;
  text-align: center;
  margin: 15vh auto;
}
.service_ttl h3 {
  font-size: 5rem;
  color: #8FF9E4;
  font-family: "Lobster Two";
}
.service_ttl h2 {
  font-size: 2rem;
  margin-top: 2%;
}
.service_triangle {
  position: absolute;
  width: 88%;
  top: 12%;
  border-bottom: 64vh solid #2CC4CB;
  border-left: 300px solid transparent;
  border-right: 300px solid transparent;
  z-index: -1;
}
.service_itemF {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}
.service_itemS {
  width: 100%;
  position: relative;
  display: flex;
  margin-top: 15vh;
  flex-direction: row-reverse;
  overflow: hidden;
}
.service_imgR {
  width: 50%;
}
.service_imgR img {
  width: 100%;
}
.service_imgL {
  width: 50%;
}
.service_imgL img {
  width: 100%;
}
.service_txtBoxR {
  position: absolute;
  width: 33%;
  top: 45%;
  left: 60%;
}
.service_txtBoxR h2 {
  font-size: 3vw;
}
.service_txtBoxR p {
  font-size: 1.3rem;
  margin-top: 3%;
  line-height: 1.5;
}
.service_txtBoxL {
  position: absolute;
  width: 33%;
  top: 45%;
  right: 58%;
}
.service_txtBoxL h2 {
  font-size: 3vw;
}
.service_txtBoxL p {
  font-size: 1.3rem;
  margin-top: 3%;
  line-height: 1.5;
}

.ec_inner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.view_btn {
  position: relative;
  width: 100%;
  height: 10vh;
}
.view_btnInner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  width: 95%;
  top: 11vh;
}
.view_btn a {
  color: #000;
  font-size: 1.7rem;
  transition: 0.5s;
}
.view_btn a:hover {
  color: #2CC4CB;
}
.view_btn a:hover::before {
  border: 2px solid #2CC4CB;
}
.view_btn a:hover::after {
  border: 1px solid #2CC4CB;
}
.view_btn a::before {
  content: "";
  position: absolute;
  top: -30%;
  right: 37.5%;
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;
  transition: 0.5s;
}
.view_btn a::after {
  content: "";
  display: flex;
  width: 55px;
  height: 0%;
  bottom: 0;
  top: 13px;
  border: 1px solid #000;
  z-index: 1;
  position: absolute;
  transform: translateX(11.4vw);
  transition: 0.5s;
}

.para2 {
  background-image: url(../img/para2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.para2_inner {
  position: relative;
  margin-top: 15vh;
  height: 35vh;
}
.para2 p {
  color: #fff;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2% 0 5%;
}
.para2_btnInner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  width: 95%;
  top: 70%;
}
.para2_btn a {
  color: #fff;
  font-size: 1.7rem;
  transition: 0.5s;
}
.para2_btn a:hover {
  color: #2CC4CB;
}
.para2_btn a:hover::before {
  border: 2px solid #2CC4CB;
}
.para2_btn a:hover::after {
  border: 1px solid #2CC4CB;
}
.para2_btn a::before {
  content: "";
  position: absolute;
  top: -30%;
  right: 39.5%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}
.para2_btn a::after {
  content: "";
  display: flex;
  width: 55px;
  height: 0%;
  bottom: 0;
  top: 12px;
  border: 1px solid #fff;
  z-index: 1;
  position: absolute;
  transform: translateX(8vw);
  transition: 0.5s;
}

.qa_ttl {
  width: 100%;
  text-align: center;
  margin: 15vh auto;
}
.qa_ttl h3 {
  font-size: 5rem;
  color: #8FF9E4;
  font-family: "Lobster Two";
}
.qa_outline {
  position: relative;
  width: 90%;
  margin: 5% auto 0;
  border: 2px solid #8FF9E4;
}
.qa_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 98%;
  margin: 1% 1%;
  border: 1px solid #000;
}
.qa_question {
  position: relative;
  width: 75%;
  display: flex;
  margin: 2% auto;
  align-items: center;
}
.qa_iconQ {
  width: 7%;
  height: 10%;
  background-color: rgba(192, 192, 192, 0.287);
  padding: 2%;
  margin-right: 10%;
  border-radius: 30px;
}
.qa_iconQ p {
  font-weight: bold;
  font-size: 1.6rem;
}
.qa_iconA {
  width: 7%;
  height: 10%;
  background-color: #8FF9E4;
  padding: 2%;
  margin-right: 10%;
  border-radius: 30px;
}
.qa_iconA p {
  font-weight: bold;
  font-size: 1.6rem;
}
.qa_title {
  width: 100%;
  letter-spacing: 2px;
  font-weight: Bold;
  font-size: 1.3rem;
}
.qa_txt {
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 45px;
}
.qa_answer {
  position: relative;
  align-items: center;
  width: 75%;
  display: flex;
  margin: 3% auto;
}

.contact_inner {
  position: relative;
  width: 100%;
}
.contact_ttl {
  width: 100%;
  text-align: center;
  margin: 15vh auto;
}
.contact_ttl h3 {
  font-size: 5rem;
  color: #8FF9E4;
  font-family: "Lobster Two";
}
.contact_ttl h2 {
  font-size: 2rem;
  margin-top: 2%;
}
.contact_form {
  position: relative;
  display: flex;
  width: 100%;
  height: 45vh;
  background: url(../img/contact.png);
  background-repeat: no-repeat;
}
.contact_txtBox {
  position: absolute;
  width: 100%;
  height: 33vh;
  top: 14%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.contact_txtBox h2 {
  font-size: 2rem;
  color: #fff;
}
.contact_txtBox p {
  margin-top: 3%;
  font-size: 1.3rem;
  color: #fff;
}
.contact_boxInner {
  position: absolute;
  width: 100%;
  top: 23%;
}
.contact_btnInner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;
  width: 95%;
  top: 75%;
}
.contact_btn a {
  color: #fff;
  font-size: 1.7rem;
  transition: 0.5s;
}
.contact_btn a:hover {
  color: #2CC4CB;
}
.contact_btn a:hover::before {
  border: 2px solid #2CC4CB;
}
.contact_btn a:hover::after {
  border: 1px solid #2CC4CB;
}
.contact_btn a::before {
  content: "";
  position: absolute;
  top: -30%;
  right: 39.5%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}
.contact_btn a::after {
  content: "";
  display: flex;
  width: 55px;
  height: 0%;
  bottom: 0;
  top: 12px;
  border: 1px solid #fff;
  z-index: 1;
  position: absolute;
  transform: translateX(8vw);
  transition: 0.5s;
}
