@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.button {
  background-color: #2CC4CB;
}

.header {
  width: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 99;
}
.header_inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.header_left {
  width: 20%;
}
.header_logo {
  width: 40%;
}
.header_logo a {
  display: block;
  width: 100%;
  height: 100%;
}
.header_logo a img {
  width: 100%;
}
.header_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.header_nav {
  width: 100%;
}
.header_navBox {
  display: flex;
  justify-content: space-around;
}
.header_navItem {
  padding-right: 5%;
}

/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-300%) skewX(-45deg);
  background-color: #2CC4CB30;
  /*伸びる背景色の設定*/
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: translateX(-500%) skewX(45deg);
  }
  100% {
    transform-origin: left;
    transform: translateX(500%) skewX(45deg);
  }
}
/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}

a {
  color: #000;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999999;
  text-align: center;
  color: #000;
}

#loading_container {
  width: 200px;
  height: 100px;
  position: absolute;
  margin: auto;
  display: block;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
}

.L {
  position: absolute;
  opacity: 0;
  left: 5%;
  top: 50%;
  animation: L 2s infinite;
  -webkit-animation: L 2s infinite;
}

.O {
  position: absolute;
  opacity: 0;
  left: 18%;
  top: 50%;
  animation: O 2s infinite;
  -webkit-animation: O 2s infinite;
  animation-delay: 100ms;
  -webkit-animation-delay: 100ms;
}

.A {
  position: absolute;
  opacity: 0;
  left: 35%;
  top: 50%;
  animation: A 2s infinite;
  -webkit-animation: A 2s infinite;
  animation-delay: 200ms;
  -webkit-animation-delay: 200ms;
}

.D {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  animation: D 2s infinite;
  -webkit-animation: D 2s infinite;
  animation-delay: 300ms;
  -webkit-animation-delay: 300ms;
}

.I {
  position: absolute;
  opacity: 0;
  left: 65%;
  top: 50%;
  animation: I 2s infinite;
  -webkit-animation: I 2s infinite;
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
}

.N {
  position: absolute;
  opacity: 0;
  left: 75%;
  top: 50%;
  animation: N 2s infinite;
  -webkit-animation: N 2s infinite;
  animation-delay: 500ms;
  -webkit-animation-delay: 500ms;
}

.G {
  position: absolute;
  opacity: 0;
  left: 90%;
  top: 50%;
  animation: G 2s infinite;
  -webkit-animation: G 2s infinite;
  animation-delay: 600ms;
  -webkit-animation-delay: 600ms;
}

@keyframes L {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes O {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes A {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes D {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes I {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes N {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
@keyframes G {
  0% {
    top: 0px;
    opacity: 0;
  }
  50% {
    top: 50px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
/*========= 流れるテキスト ===============*/
/*全共通*/
.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;
}

/*左右のアニメーション*/
.leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }
  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}
.top_inner {
  position: relative;
  height: 100vh;
}
.top_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 48%;
  width: 100%;
}
.top_name h1 {
  text-align: center;
  font-family: "Lobster Two", cursive;
  letter-spacing: 10px;
  font-size: 4em;
  color: #2CC4CB;
}
.top_name h1 small {
  font-size: 0.2em;
}

.about_ttl {
  width: 100%;
  text-align: center;
}
.about_inner {
  width: 90%;
  margin: 0 auto;
}
.about_copy {
  margin-bottom: 10%;
}
.about_copy h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2%;
}
.about_copy p {
  text-align: center;
  font-size: 1.3rem;
  line-height: 2;
}
.about_contaner {
  margin-bottom: 5%;
}
.about_box {
  display: flex;
  justify-content: space-between;
}
.about_item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/item1.png);
  background-size: cover;
  background-position: center;
  width: 30%;
  padding: 6% 0;
  position: relative;
}
.about_item::before {
  content: "01";
  position: absolute;
  top: -20%;
  left: 0;
  font-size: 3vw;
  font-weight: 800;
  text-decoration: wavy overline #2CC4CB;
  padding-top: 3%;
  color: #2CC4CB;
}
.about_item:nth-child(2) {
  background: url(../img/about1.png);
  background-size: cover;
  background-position: center;
}
.about_item:nth-child(2)::before {
  content: "02";
}
.about_item:nth-child(3) {
  background: url(../img/about2.png);
  background-size: cover;
  background-position: center;
}
.about_item:nth-child(3)::before {
  content: "03";
}
.about_itemInner {
  background-color: #000;
  width: 100%;
  padding: 10%;
  color: #fff;
  text-align: justify;
}
.about_itemInner p {
  font-size: 1.1vw;
  line-height: 2;
}

.para1 {
  height: 30vh;
  background-image: url(../img/para1-2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.para1 p {
  color: #fff;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

.para2 {
  height: 30vh;
  background-image: url(../img/para2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.para2 p {
  color: #fff;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

.service {
  height: 100vh;
}

.contact {
  height: 100vh;
}

.footer {
  background: #E4EAF2;
  height: 20vh;
}

/*# sourceMappingURL=style.css.map */
