@charset "utf-8";

@use "foundation";
@use "./global"as *;

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  animation-name: PageAnime;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-300%) skewX(-45deg);
  // background-color: #ffffff80;
  background-color: $cLowBlue;
  /*伸びる背景色の設定*/
}

@keyframes PageAnime {
  0% {
    transform-origin: left;
    transform: translateX(-500%) skewX(45deg);
  }

  100% {
    transform-origin: left;
    transform: translateX(500%) skewX(45deg);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  animation-name: PageAnimeAppear;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// body {
//     animation: bgchange 20s ease infinite;
//   /*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
// }

// @keyframes bgchange {
//   0% {
//     background: #2571D920;
//   }

//   /*変化させたい色*/
//   25% {
//     background: #27A8E330;
//   }

//   /*変化させたい色*/
//   50% {
//     background: #25D97D20;
//   }

//   /*変化させたい色*/
//   75% {
//     background: #27E3B830;
//   }

//   /*変化させたい色*/
//   90% {
//     background: #2cc3cb30;
//   }

//   /*変化させたい色*/
//   100% {
//     background: #2571D920;
//   }

//   /*変化させたい色*/
// }

canvas {
  @include position-c ;
  width: 100%;
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}

a{
  color: $cBlack;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  // background: #2cc3cb30;
  background: $cWhite;
  z-index: 9999999;
  text-align: center;
  color: $cBlack;
}

#loading_container {
  width: 200px;
  height: 100px;
  position: absolute;
  margin: auto;
  display: block;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 2em;
  font-weight: bold;
}

.L {
  position: absolute;
  opacity:0;
  left: 5%;
  top: 50%;
  -webkit-animation: L 2s infinite;
  animation: L 2s infinite;
}

.O {
  position: absolute;
  opacity:0;
  left: 18%;
  top: 50%;
  -webkit-animation: O 2s infinite;
  animation: O 2s infinite;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.A {
  position: absolute;
  opacity:0;
  left: 35%;
  top: 50%;
  -webkit-animation: A 2s infinite;
  animation: A 2s infinite;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.D {
  position: absolute;
  opacity:0;
  left: 50%;
  top: 50%;
  -webkit-animation: D 2s infinite;
  animation: D 2s infinite;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.I {
  position: absolute;
  opacity:0;
  left: 65%;
  top: 50%;
  -webkit-animation: I 2s infinite;
  animation: I 2s infinite;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.N {
  position: absolute;
  opacity:0;
  left: 75%;
  top: 50%;
  -webkit-animation: N 2s infinite;
  animation: N 2s infinite;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.G {
  position: absolute;
  opacity:0;
  left: 90%;
  top: 50%;
  -webkit-animation: G 2s infinite;
  animation: G 2s infinite;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

@keyframes L {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes O {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes A {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes D {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes I {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes N {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes G {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}



/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;

}

/*左右のアニメーション*/
.leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  animation-name: slideTextX100;
  animation-delay: .3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slideTextX100 {
  from {
    transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  animation-name: slideTextX-100;
  animation-delay: .3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}


@keyframes slideTextX-100 {
  from {
    transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
    transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}


.top{
  &_inner{
    position: relative;
    height: 100vh;
  }
  &_name{
    @include position-c ;
    top: 48%;
    width: 100%;
    h1{
      text-align:center;
      font-family: 'Lobster Two',
      cursive;
      letter-spacing: 10px;
      font-size: 6rem;
      color: $cHiBlue;
      small{
        font-size: .2em;
      }
    }
  }
}

.about{
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 15vh auto;
    h3 {
      font-size: 5rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
    h2 {
      font-size: 2rem;
      margin-top: 2%;
    }
  }

  &_inner{
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  &_copy{
    margin-bottom: 10%;
    h2{
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2%;
    }
    p{
      text-align: center;
      font-size: 1.3rem;
      line-height: 2;
    }
  }
  &_contaner{
    margin-bottom: 5%;
  }
  &_box{
    display: flex;
    justify-content: space-between;
  }
  &_item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/item1.png);
    background-size: cover;
    background-position: center;
    width: 30%;
    padding: 6% 0;
    position: relative;
    &::before{
      content: "01";
      position: absolute;
      top: -20%;
      left: 0;
      font-size: 3vw;
      font-weight: 800;
      // border-top: 2px solid #2CC4CB;
      text-decoration: wavy overline $cHiBlue;
      padding-top: 3%;
      color: $cHiBlue;
    }
    &:nth-child(2){
      background: url(../img/about1.png);
      background-size: cover;
      background-position: center;
      &::before {
        content: "02";
      }
    }
    &:nth-child(3){
      background: url(../img/about2.png);
      background-size: cover;
      background-position: center;
      &::before {
        content: "03";
      }
    }
    &Inner{
      background-color: $cBlack;
      width: 100%;
      padding: 10%;
      color: $cWhite;
      text-align: justify;
      p{
        font-size: 1.1vw;
        line-height: 2;
      }
    }
  }
}

.para1{
  background-image: url(../img/para1-2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &_inner {
    position: relative;
    margin-top: 15vh;
    height: 30vh;
  }
  p{
    color: $cWhite;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5%;
  }
}

.service{
  &_inner {
    width: 100%;
    position: relative;
  }
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 15vh auto;
    h3 {
      font-size: 5rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
    h2 {
      font-size: 2rem;
      margin-top: 2%;
    }
  }
  &_triangle {
    position: absolute;
    width: 88%;
    top: 12%;
    border-bottom: 50vh solid $cHiBlue;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    z-index: -1;
  }
  &_item {
    &F {
      width: 100%;
      position: relative;
      display: flex;
      overflow: hidden;
    }
    &S {
      width: 100%;
      position: relative;
      display: flex;
      margin-top: 15vh;
      flex-direction: row-reverse;
      overflow: hidden;
    }
  }
  &_img {
    &R {
      width: 50%;
      img {
        width: 100%;
      }
    }
    &L {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
  &_txt {
    &Box {
      &R {
        position: absolute;
        width: 33%;
        top: 45%;
        left: 60%;
        h2 {
          font-size: 3vw;
        }
        p {
          font-size: 1.3rem;
          margin-top: 3%;
          line-height: 1.5;
        }
      }
      &L {
        position: absolute;
        width: 33%;
        top: 45%;
        right: 58%;
        h2 {
          font-size: 3vw;
        }
        p {
          font-size: 1.3rem;
          margin-top: 3%;
          line-height: 1.5;
        }
      }
    }
  }
}

.ec {
  &_inner {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
  }
}

.para2{
  background-image: url(../img/para2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &_inner {
    position: relative;
    margin-top: 15vh;
    height: 30vh;
  }
  p{
    color: $cWhite;
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 5%;
  }
}


.qa {
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 15vh auto;
    h3 {
      font-size: 5rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
  }
  &_outline {
    position: relative;
    width: 90%;
    margin: 5% auto 0;
    border: 1px solid $cHiGreen;
  }
  &_item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 1% 1%;
    border: 1px solid $cBlack;
  }
  &_question {
    position: relative;
    width: 75%;
    display: flex;
    margin: 2% auto;
    align-items: center;
  }
  &_icon {
    &Q {
      width: 7%;
      height: 10%;
      background-color: $cGray;
      padding: 2%;
      margin-right: 10%;
      border-radius: 30px;
      p {
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    &A {
      width: 7%;
      height: 10%;
      background-color: $cHiGreen;
      padding: 2%;
      margin-right: 10%;
      border-radius: 30px;
      p {
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
  &_title {
    width: 100%;
    letter-spacing: 2px;
    font-weight: Bold;
    font-size: 1.3rem;
  }
  &_txt {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 45px;
  }
  &_answer {
    position: relative;
    align-items: center;
    width: 75%;
    display: flex;
    margin: 3% auto;
  }
}

.contact{
  &_inner {
    position: relative;
    width: 100%;
  }
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 15vh auto;
    h3 {
      font-size: 5rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
    h2 {
      font-size: 2rem;
      margin-top: 2%;
    }
  }
  &_form {
    position: relative;
    display: flex;
    width: 100%;
    height: 45vh;
    background: url(../img/contact.png);
    background-repeat: no-repeat;
  }
  &_txt {
    &Box {
      position: absolute;
      width: 100%;
      height: 20vh;
      top: 30%;
      text-align: center;
      background-color: rgba(0,0,0,0.5);
      h2 {
        color: $cWhite;
      }
      p {
        color: $cWhite;
      }
    }
  }
  &_box {
    &Inner {
      position: absolute;
      width: 100%;
      top: 45%;
    }
  }
}

.footer {
  &_inner {
    width: 100%;
    position: relative;
    background-color: $cGray;
    z-index: 99;
    margin-top: 15vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  &_left {
    width: 20%;
  }

  &_logo {
    width: 40%;

    a {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }
  }

  &_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  &_nav {
    width: 100%;

    &Box {
      display: flex;
      justify-content: space-around;
    }

    &Item {
      padding: 1%;
      width: 15%;
    }
  }

  &_copy {
    position: relative;
    font-size: 15px;
    top: 25%;
    color: $cBlack;

    &Inner {
      position: relative;
      width: 100%;
      text-align: center;
      height: 10vh;
      background: $cWhite;
      border-top: solid 1px $cWhite;
    }
  }
}