@charset "utf-8";

@use "foundation";
@use "./global"as *;

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  -webkit-animation-name: PageAnime;
          animation-name: PageAnime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: "";
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-300%) skewX(-45deg);
      -ms-transform: translateX(-300%) skewX(-45deg);
          transform: translateX(-300%) skewX(-45deg);
  // background-color: #ffffff80;
  background-color: $cLowBlue;
  /*伸びる背景色の設定*/
}

@-webkit-keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(-500%) skewX(45deg);
            transform: translateX(-500%) skewX(45deg);
  }

  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(500%) skewX(45deg);
            transform: translateX(500%) skewX(45deg);
  }
}

@keyframes PageAnime {
  0% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(-500%) skewX(45deg);
            transform: translateX(-500%) skewX(45deg);
  }

  100% {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: translateX(500%) skewX(45deg);
            transform: translateX(500%) skewX(45deg);
  }
}

/*画面遷移の後現れるコンテンツ設定*/
#container {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear #container {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// body {
//     animation: bgchange 20s ease infinite;
//   /*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
// }

// @keyframes bgchange {
//   0% {
//     background: #2571D920;
//   }

//   /*変化させたい色*/
//   25% {
//     background: #27A8E330;
//   }

//   /*変化させたい色*/
//   50% {
//     background: #25D97D20;
//   }

//   /*変化させたい色*/
//   75% {
//     background: #27E3B830;
//   }

//   /*変化させたい色*/
//   90% {
//     background: #2cc3cb30;
//   }

//   /*変化させたい色*/
//   100% {
//     background: #2571D920;
//   }

//   /*変化させたい色*/
// }

canvas {
  @include position-c ;
  width: 100%;
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}

a{
  color: $cBlack;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  // background: #2cc3cb30;
  background: $cWhite;
  z-index: 9999999;
  text-align: center;
  color: $cBlack;
}

#loading_container {
  width: 200px;
  height: 100px;
  position: absolute;
  margin: auto;
  display: block;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  font-size: 2em;
  font-weight: bold;
}

.L {
  position: absolute;
  opacity:0;
  left: 5%;
  top: 50%;
  -webkit-animation: L 2s infinite;
  animation: L 2s infinite;
}

.O {
  position: absolute;
  opacity:0;
  left: 18%;
  top: 50%;
  -webkit-animation: O 2s infinite;
  animation: O 2s infinite;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.A {
  position: absolute;
  opacity:0;
  left: 35%;
  top: 50%;
  -webkit-animation: A 2s infinite;
  animation: A 2s infinite;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.D {
  position: absolute;
  opacity:0;
  left: 50%;
  top: 50%;
  -webkit-animation: D 2s infinite;
  animation: D 2s infinite;
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.I {
  position: absolute;
  opacity:0;
  left: 65%;
  top: 50%;
  -webkit-animation: I 2s infinite;
  animation: I 2s infinite;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.N {
  position: absolute;
  opacity:0;
  left: 75%;
  top: 50%;
  -webkit-animation: N 2s infinite;
  animation: N 2s infinite;
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

.G {
  position: absolute;
  opacity:0;
  left: 90%;
  top: 50%;
  -webkit-animation: G 2s infinite;
  animation: G 2s infinite;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}

@-webkit-keyframes L {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes L {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes O {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes O {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes A {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes A {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes D {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes D {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes I {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes I {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes N {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes N {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@-webkit-keyframes G {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}

@keyframes G {
  0% {
    top: 0px;
    opacity: 0;
  }

  50% {
    top: 50px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}



/*========= 流れるテキスト ===============*/

/*全共通*/

.slide-in {
  overflow: hidden;
  display: inline-block;
}

.slide-in_inner {
  display: inline-block;

}

/*左右のアニメーション*/
.leftAnime {
  opacity: 0;
  /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
  -webkit-animation-name: slideTextX100;
          animation-name: slideTextX100;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes slideTextX100 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}

@keyframes slideTextX100 {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    /*要素を左の枠外に移動*/
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
  -webkit-animation-name: slideTextX-100;
          animation-name: slideTextX-100;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}


@-webkit-keyframes slideTextX-100 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}


@keyframes slideTextX-100 {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    /*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    /*要素を元の位置に移動*/
    opacity: 1;
  }
}

//scroll-down
.scroll_down {
  &Inner {
    position: relative;
    width: 100%;
    -webkit-transform: translateY(70vh);
        -ms-transform: translateY(70vh);
            transform: translateY(70vh);
  }
  &5 {
    position: relative;
    width: 2px;
    height: 110px;
    background: transparent;
    -webkit-animation: scrollDown5 1.5s ease infinite;
            animation: scrollDown5 1.5s ease infinite;
    border-radius: 100%;
    margin: 0 auto; //---you can romove this line---
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop($cHiBlue), to(transparent));
      background: -o-linear-gradient(transparent, $cHiBlue, transparent);
      background: linear-gradient(transparent, $cHiBlue, transparent);
    }
  }
}
@-webkit-keyframes scrollDown5 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  45% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  55% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
@keyframes scrollDown5 {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }

  45% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  55% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }

  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

//スッ

.js-fadein {
  opacity: 0;
}

.fadein {
  -webkit-animation: fadein 1s forwards;
          animation: fadein 1s forwards;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

//js-slideUp 上に出てくる

.js-slideUp {
  opacity: 0;
}

.scrollin {
  -webkit-animation: fadeUpAnime .5s forwards;
          animation: fadeUpAnime .5s forwards;
  -webkit-animation-name: scrollin;
          animation-name: scrollin;
}

@-webkit-keyframes scrollin {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes scrollin {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/*js-slideLeft 左から出てくる */
.js-slideLeft {
  opacity: 0;
}

.fadeLeft {
  -webkit-animation-name: fadeLeftAnime;
          animation-name: fadeLeftAnime;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*js-slideRight 右から出てくる */
.js-slideRight {
  opacity: 0;
}

.fadeRight {
  -webkit-animation-name: fadeRightAnime;
          animation-name: fadeRightAnime;
  -webkit-animation-duration: .7s;
          animation-duration: .7s;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}



//top

.top{
  &_inner{
    position: relative;
    height: 100vh;
  }
  &_name{
    @include position-c ;
    top: 48%;
    width: 100%;
    h1{
      text-align:center;
      font-family: 'Lobster Two',
      cursive;
      letter-spacing: 10px;
      font-size: 6rem;
      color: $cHiBlue;
      small{
        font-size: .2em;
      }
    }
  }
}

.about{
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 10% auto;
    h3 {
      font-size: 5rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
    h2 {
      font-size: 2rem;
      margin-top: 2%;
    }
  }

  &_inner{
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  &_copy{
    margin-bottom: 10%;
    h2{
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2%;
    }
    p{
      text-align: center;
      font-size: 1.3rem;
      line-height: 2;
    }
  }
  &_contaner{
    margin-bottom: 5%;
  }
  &_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  &_item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: url(../img/item1.png);
    background-size: cover;
    background-position: center;
    width: 30%;
    padding: 6% 0;
    position: relative;
    &::before{
      content: "01";
      position: absolute;
      top: -20%;
      left: 0;
      font-size: 3vw;
      font-weight: 800;
      // border-top: 2px solid #2CC4CB;
      -webkit-text-decoration: wavy overline $cHiBlue;
              text-decoration: wavy overline $cHiBlue;
      padding-top: 3%;
      color: $cHiBlue;
    }
    &:nth-child(2){
      background: url(../img/about1.png);
      background-size: cover;
      background-position: center;
      -webkit-animation-delay: .3s;
              animation-delay: .3s;
      &::before {
        content: "02";
      }
    }
    &:nth-child(3){
      background: url(../img/about2.png);
      background-size: cover;
      background-position: center;
      -webkit-animation-delay: .6s;
              animation-delay: .6s;
      &::before {
        content: "03";
      }
    }
    &Inner{
      background-color: $cBlack;
      width: 100%;
      padding: 8%;
      color: $cWhite;
      text-align: justify;
      p{
        font-size: 1.1rem;
        line-height: 2;
      }
    }
  }
}

.para1{
  background-image: url(../img/para1-2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &_inner {
    position: relative;
    margin-top: 15vh;
    height: 35vh;
  }
  p{
    color: $cWhite;
    font-size: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding: 3% 0 5%;
  }
  &_btn {
    width: 100%;
    &Inner {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: inline-block;
      margin-top: 0%;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      top: 60%;
    }
    a {
      display: block;
      width: 60%;
      height: 100%;
      color: $cWhite;
      font-size: 1.7rem;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      line-height: 3;
      text-align: center;
      &:hover {
        color: $cHiBlue;
        &::before {
          border: 2px solid $cHiBlue;
        }
        &::after {
          border: 1px solid $cHiBlue;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 25%;
        right: 20.5%;
        width: 40px;
        height: 40px;
        border: 2px solid $cWhite;
        border-radius: 50%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
      &::after {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 55px;
        height: 0%;
        bottom: 0;
        top: 50%;
        border: 1px solid $cWhite;
        z-index: 1;
        position: absolute;
        -webkit-transform: translateX(10.5vw);
            -ms-transform: translateX(10.5vw);
                transform: translateX(10.5vw);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
    }
  }
}

.service{
  &_inner {
    width: 100%;
    position: relative;
  }
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 10% auto;
    h3 {
      font-size: 5rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
    h2 {
      font-size: 2rem;
      margin-top: 2%;
    }
  }
  &_triangle {
    &L,&R{
      position: absolute;
      width: 88%;
      top: 12%;
      border-bottom: 64vh solid $cHiBlue;
      border-left: 300px solid transparent;
      border-right: 300px solid transparent;
      z-index: -1;
    }
  }
  &_item {
    &F {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden;
    }
    &S {
      width: 100%;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 15vh;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      overflow: hidden;
    }
  }
  &_img {
    &R {
      width: 50%;
      img {
        width: 100%;
      }
    }
    &L {
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
  &_txt {
    &Box {
      &R {
        position: absolute;
        width: 33%;
        top: 45%;
        left: 60%;
        h2 {
          font-size: 3vw;
        }
        p {
          font-size: 1.3rem;
          margin-top: 3%;
          line-height: 1.5;
        }
      }
      &L {
        position: absolute;
        width: 33%;
        top: 45%;
        right: 58%;
        h2 {
          font-size: 3vw;
        }
        p {
          font-size: 1.3rem;
          margin-top: 3%;
          line-height: 1.5;
        }
      }
    }
  }
}

.ec {
  &_inner {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15%;
    margin-bottom: 8%;
    img {
      width: 100%;
    }
  }
}

.view {
  &_btn {
    width: 100%;
    &Inner {
      position: relative;
      display: inline-block;
      width:215px;
      left: 50%;
      margin-top: 5%;
      transform: translateX(-50%);
    }
    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 3;
      color: $cBlack;
      font-size: 1.7rem;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      &:hover {
        color: $cHiBlue;
        &::before {
          border: 2px solid $cHiBlue;
        }
        &::after {
          border: 1px solid $cHiBlue;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        border: 2px solid $cBlack;
        border-radius: 50%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
      &::after {
        content: '';
        width: 45px;
        height: 0%;
        bottom: 0;
        top: 50%;
        right: 7%;
        transform: translate(-7%,-50%);
        border: 1px solid $cBlack;
        z-index: 1;
        position: absolute;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
    }
  }
}

.para2{
  background-image: url(../img/para2.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &_inner {
    position: relative;
    margin-top: 15vh;
    height: 35vh;
  }
  p{
    color: $cWhite;
    font-size: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    padding: 2% 0 5%;
  }
  &_btn {
    width: 100%;
    &Inner {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: inline-block;
      margin-top: 0%;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      top: 60%;
    }
    a {
      display: block;
      width: 60%;
      height: 100%;
      color: $cWhite;
      font-size: 1.7rem;
      text-align: center;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      line-height: 3;
      &:hover {
        color: $cHiBlue;
        &::before {
          border: 2px solid $cHiBlue;
        }
        &::after {
          border: 1px solid $cHiBlue;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 25%;
        right: 20.5%;
        width: 40px;
        height: 40px;
        border: 2px solid $cWhite;
        border-radius: 50%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
      &::after {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 55px;
        height: 0%;
        bottom: 0;
        top: 50%;
        border: 1px solid $cWhite;
        z-index: 1;
        position: absolute;
        -webkit-transform: translateX(10.5vw);
        -ms-transform: translateX(10.5vw);
        transform: translateX(10.5vw);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
    }
  }
}

.qa {
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 10% auto;
    h3 {
      font-size: 4rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
  }
  &_outline {
    position: relative;
    width: 90%;
    margin: 5% auto 0;
    border: 2px solid $cHiGreen;
  }
  &_item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 98%;
    margin: 1% 1%;
    border: 1px solid $cBlack;
  }
  &_question {
    position: relative;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2% auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  &_icon {
    &Q {
      width: 7%;
      height: 10%;
      background-color: $cGray;
      padding: 2%;
      margin-right: 10%;
      border-radius: 30px;
      p {
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
    &A {
      width: 7%;
      height: 10%;
      background-color: $cHiGreen;
      padding: 2%;
      margin-right: 10%;
      border-radius: 30px;
      p {
        font-weight: bold;
        font-size: 1.6rem;
      }
    }
  }
  &_title {
    width: 100%;
    letter-spacing: 2px;
    font-weight: Bold;
    font-size: 1.3rem;
  }
  &_txt {
    width: 100%;
    font-size: 1.2rem;
    letter-spacing: 1px;
    line-height: 45px;
  }
  &_answer {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3% auto;
  }
}

.contact{
  &_inner {
    position: relative;
    width: 100%;
  }
  &_ttl {
    width: 100%;
    text-align: center;
    margin: 10% auto;
    h3 {
      font-size: 4rem;
      color: $cHiGreen;
      font-family: 'Lobster Two',
    }
    h2 {
      font-size: 2rem;
      margin-top: 2%;
    }
  }
  &_form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 45vh;
    background: url(../img/contact.png);
    background-repeat: no-repeat;
  }
  &_txt {
    &Box {
      position: absolute;
      width: 100%;
      height: 33vh;
      top: 14%;
      text-align: center;
      background-color: rgba(0,0,0,0.5);
      h2 {
        font-size: 2rem;
        color: $cWhite;
      }
      p {
        margin-top: 3%;
        font-size: 1.3rem;
        color: $cWhite;
      }
    }
  }
  &_box {
    &Inner {
      position: absolute;
      width: 100%;
      top: 23%;
    }
  }
  &_btn {
    width: 100%;
    &Inner {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: inline-block;
      margin-top: 0%;
      width: 20%;
      left: 50%;
      transform: translateX(-50%);
      top: 60%;
    }
    a {
      display: block;
      width: 60%;
      height: 100%;
      color: $cWhite;
      font-size: 1.7rem;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      line-height: 3;
      text-align: center;
      &:hover {
        color: $cHiBlue;
        &::before {
          border: 2px solid $cHiBlue;
        }
        &::after {
          border: 1px solid $cHiBlue;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: 25%;
        right: 20.5%;
        width: 40px;
        height: 40px;
        border: 2px solid $cWhite;
        border-radius: 50%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
      &::after {
        content: '';
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 55px;
        height: 0%;
        bottom: 0;
        top: 50%;
        border: 1px solid $cWhite;
        z-index: 1;
        position: absolute;
        -webkit-transform: translateX(10.5vw);
        -ms-transform: translateX(10.5vw);
        transform: translateX(10.5vw);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
      }
    }
  }
}

//レスポンシブ対応

@media screen and (max-width: 1024px) {
  .no-sp{
    display: none;
  }
  .about {
    &_item {
      width: 32%;
    }
  }
  .para {
    &1 {
      &_btn {
        a {
          &::before {
            right: 7.5%;
          }
          &::after {
            transform: translateX(11vw);
          }
        }
      }
    }
    &2 {
      &_btn {
        a {
          &::before {
            right: 7.5%;
          }
          &::after {
            transform: translateX(11vw);
          }
        }
      }
    }
  }
  .contact {
    &_btn {
      a {
        &::before {
          right: 7.5%;
        }
        &::after {
          transform: translateX(11vw);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .para {
    &1 {
      a {
        &::before {
          right: -7.5%;
          top: 20%;
        }
        &::after {
          transform: translateX(12vw);
        }
      }
    }
    &2 {
      a {
        &::before {
          right: -7.5%;
          top: 20%;
        }
        &::after {
          transform: translateX(12vw);
        }
      }
    }
  }
  .service {
    &_triangle {
      &R {
        width: 100%;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
      }
      &L {
        width: 100%;
        border-left: 250px solid transparent;
        border-right: 250px solid transparent;
      }
    }
    &_txt {
      &Box {
        &R {
          top: 30%;
        }
        &L {
          top: 30%;
        }
      }
    }
  }
  .view {
    &_btn {
      &Inner {
        width: 195px;
      }
    }
  }
  .contact {
    &_txt {
      &Box {
        p {
          margin-top: 6%;
          font-size: 1.7rem;
        }
      }
    }
    &_btn {
      a {
        &::before {
          right: -7.5%;
          top: 20%;
        }
    
        &::after {
          transform: translateX(12vw);
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .about {
    &_box{
      flex-direction: column;
    }
    &_item {
      width: 80%;
      margin:0 auto 10%;
      &Inner {
        p {
          font-size: 1rem;
        }
      }
    }
    &_copy {
      h2 {
        font-size: 1.7rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
  .para {
    &1 {
      p {
        font-size: 5vw;
      }
      &_btn {
        &Inner {
          left: 48%;
        }
        a {
          &::before {
            width: 35px;
            height: 35px;
            right: -39.5%;
            top: 24%;
          }
          &::after {
            transform: translateX(17vw);
            width: 45px;
          }
        }
      }
    }
    &2 {
      p {
        font-size: 5vw;
      }
      &_inner {
        margin-top: 8vh;
      }
      &_btn {
        &Inner {
          left: 48%;
        }
        a {
          &::before {
            right: -40.5%;
            top: 20%;
          }
          &::after {
            width: 45px;
            transform: translateX(17vw);
          }
        }
      }
    }
  }
  .service {
    &_txt {
      &Box {
        &R {
          width: 35%;
          top: 30%;
          h2 {
            font-size: 4vw;
          }
          p {
            font-size: 1.1rem;
          }
        }
        &L {
          width: 35%;
          top: 30%;
          h2 {
            font-size: 3.7vw;
          }
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
    &_triangle {
      &L {
        border-left: unset;
        top: 0;
        left: 0;
        width: 85%;
        border-bottom: 35vh solid #2CC4CB;
        border-right: 150px solid transparent;
        border-left: 150px solid transparent;
      }
      &R {
        border-right: unset;
        top: 0;
        right: 0;
        width: 85%;
        border-bottom: 35vh solid #2CC4CB;
        border-left: 150px solid transparent;
        border-left: 150px solid transparent;
      }
    }

    &_item {
      &F {
        flex-direction: column-reverse;
      }
      a {
        width: 100%;
        &::before {
          top: 20%;
          right: -40.5%;
        }
        &::after {
          width: 45px;
          transform: translateX(24vw);
      &S {
        flex-direction: column;
      }
    }
    &_img {
      &L,
      &R {
        margin: 0 auto;
        width: 80%;
      }
    }

    &_txt {
      &Box {
        &R {
          padding-top: 15%;
          margin: 0 auto 10%;
          width: 80%;
          text-align: center;
          position: unset;
        }

        &L {
          padding-top: 15%;
          margin: 0 auto 10%;
          width: 80%;
          text-align: center;
          position: unset;
        }
      }
    }
  }
  // .view {
  //   &_btn {
  //     &Inner {
  //       left: 47%;
  //     }
  //   }
  // }
  .contact {
    &_txt {
      &Box {
        h2 {
          font-size: 1.6rem;
        }
        p {
          font-size: 1.4rem;
          margin-top: 7%;
        }
      }
    }
    &_btn {
      &Inner {
        left: 48%;
      }
      a {
        &::before {
          right: -40.5%;
          top: 20%;
        }
      
        &::after {
          width: 45px;
          transform: translateX(17vw);
        }
      }
    }
  }
  .qa {
    &_txt {
      font-size: 1rem;
      line-height: 2;
    }
    &_icon {
      &Q {
        width: 12%;
        padding: 3%;
      }
      &A {
        width: 12%;
        padding: 3%;
      }
    }
    &_title {
      line-height: 1.5;
    }
  }
  .footer {
    &_left {
      width: 25%;
    }
  }
}

@media screen and (max-width: 540px) {
  .service {
    &_txt {
      &Box {
        &R {
          top: 30%;
          left: 58%;
          p {
            font-size: 1rem;
          }
        }
        &L {
          top: 27%;
          right: 54%;
          p {
            font-size: 1rem;
          }
        }
      }
    }
    &_triangle {
      &R {
        border-right: 125px solid transparent;
        border-left: 125px solid transparent;
      }
      &L {
        border-right: 125px solid transparent;
        border-left: 125px solid transparent;
      }
    }
  }
  .para {
    &1 {
      &_btn {
        a {
          &::before {
            width: 30px;
            height: 30px;
            right: -43.5%;
            top: 26%;
          }
          &::after {
            width: 40px;
            transform: translateX(18vw);
          }
        }
      }
    }
    &2 {
      &_btn {
        a {
          &::before {
            width: 30px;
            height: 30px;
            right: -43.5%;
            top: 26%;
          }
          &::after {
            width: 40px;
            transform: translateX(18vw);
          }
        }
      }
    }
  }
  .view {
    &_btn {
      a {
        &::before {
          top: 25%;
          width: 30px;
          height: 30px;
          right: -42.5%;
        }
        &::after {
          width: 40px;
          transform: translateX(25vw);
        }
      }
    }
  }
  .contact {
    &_txt {
      &Box {
        h2 {
          font-size: 1.5rem;
        }
      }
    }
    &_btn {
      a {
        &::before {
          width: 30px;
          height: 30px;
          right: -42.5%;
          top: 26%;
        }
        &::after {
          transform: translateX(18vw);
          width: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .para {
    &1 {
      &_btn {
        &Inner {
          left: 46%;
        }
        a {
          &::before {
            right: -68.5%;
            top: 30%;
            width: 25px;
            height: 25px;
          }
          &::after {
            width: 30px;
            transform: translateX(23vw);
          }
        }
      }
    }
    &2 {
      &_btn {
        &Inner {
          left: 46%;
        }
        a {
          &::before {
            right: -68.5%;
            top: 30%;
            width: 25px;
            height: 25px;
          }
          &::after {
            width: 30px;
            transform: translateX(23vw);
          }
        }
      }
    }
  }
  .about {
    &_box {
      margin-top: 20%;
    }
    &_item {
      &Inner {
        // padding: 14%;
        p {
          font-size: 0.9rem;
        }
      }
    }
    &_copy {
      h2 {
        font-size: 1.4rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  .service {
    &_triangle {
      &L {
        border-bottom: 30vh solid $cHiBlue;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
      }
      &R {
        border-bottom: 30vh solid $cHiBlue;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
      }
    }
    &_txt {
      &Box {
        &R {
          p {
            font-size: 0.8rem;
          }
        }
        &L {
          p {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .view {
    &_btn {
      &Inner {
        width: 170px;
      }
      a {
        font-size: 1.4rem;
        &::before {
          right: -49.5%;
          top: 26%;
          width: 25px;
          height: 25px;
        }
        &::after {
          width: 30px;
          transform: translateX(26vw);
        }
      }
    }
  }
  .contact {
    &_btn {
      &Inner {
        left: 46%;
      }
  
      a {
        &::before {
          right: -69.5%;
          top: 30%;
          width: 25px;
          height: 25px;
        }
  
        &::after {
          width: 30px;
          transform: translateX(23vw);
        }
      }
    }
    &_txt {
      &Box {
        h2 {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 393px) {
  .about {
    &_copy {
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .view {
    &_btn {
      &Inner {
        width: 27%;
      }
      a {
        &::before {
          right: -46.5%;
        }
        &::after {
          transform: translateX(28vw);
        }
      }
    }
  }
  .para {
    &1 {
      &_btn {
        a {
          &::before {
            right: -81.5%;
          }
          &::after {
            transform: translateX(25vw);
          }
        }
      }
    }
    &2 {
      &_btn {
        a {
          &::after {
            transform: translateX(24vw);
          }
          &::before {
            right: -76.5%;
          }
        }
      }
    }
  }
  .contact {
    &_btn {
      a {
        &::before {
          right: -77.5%;
          top: 30%;
        }
        &::after {
          transform: translateX(24vw);
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .top{
    &_name{
      h1{
        font-size: 4rem;
      }
    }
  }
  .para {
    &1 {
      &_btn {
        a {
          &::before {
            right: -85.5%;
            top: 30%;
          }
          &::after {
            transform: translateX(25vw);
          }
        }
      }
    }
    &2 {
      &_btn {
        a {
          &::before {
            right: -85.5%;
            top: 30%;
          }
          &::after {
            transform: translateX(25vw);
          }
        }
      }
    }
  }
  .about {
    &_ttl{
      h3{
        font-size: 4rem;
      }
    }
    &_copy {
      h2 {
        font-size: 1.2rem;
      }
    }
    &_item {
      &Inner {
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  .service {
    &_ttl{
      h3{
        font-size: 4rem;
      }
    }
    &_triangle{
      &L{
        border-left: unset;
        top: 0;
        left: 0;
        width: 85%;
        border-bottom: 35vh solid #2CC4CB;
        border-right: 150px solid transparent;
      }
      &R{
        border-right: unset;
        top: 0;
        right: 0;
        width: 85%;
        border-bottom: 35vh solid #2CC4CB;
        border-left: 150px solid transparent;
      }
    }
    &_item{
      &F{
        flex-direction: column-reverse;
      }
      &S{
        flex-direction: column;
      }
    }
    &_img{
      &L,&R{
        margin: 0 auto;
        width: 80%;
      }
    }
    &_txt {
      &Box {
        &R {
          padding-top: 15%;
          margin: 0 auto 10%;
          width: 80%;
          text-align: center;
          position: unset;
        }
        &L {
          padding-top: 15%;
          margin: 0 auto 10%;
          width: 80%;
          text-align: center;
          position: unset;
        }
      }
    }
  }
  .view {
    &_btn {
      &Inner {
        a {
          font-size: 1.3rem;
          &::before {
            right: -43.5%;
          }
        }
      }
    }
  }
  // .view {
  //   &_btn {
  //     &Inner {
  //       a {
  //         &::before {
  //           right: -41.5%;
  //         }
  //       }
  //     }
  //   }
  // }
  .contact {
    &_btn {
      a {
        &::before {
          right: -85.5%;
          top: 30%;
        }
  
        &::after {
          transform: translateX(25vw);
        }
      }
    }
    h2 {
      font-size: 1rem;
    }
  }
}